*:focus {
    outline: none;
}

div::-webkit-scrollbar {
    border-radius: 10px;
    width: 0.5em;
    height: 0.5em;
    background: rgba(20,20,20,0.1); 
    opacity: 0.0;
}
div::-webkit-scrollbar:hover {
    opacity: 0.3;
}
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(50,50,50); 
    border-radius: 10px;
    
}
div::-webkit-scrollbar-corner {
    opacity: 0;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(100,100,100, 0.3); 
    background: rgba(250,250,250,0.5); 
    
}


html, body {    
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 450px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
img {
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
    border:0px solid;
}

table {
    margin:auto;
    overflow:scroll;
    border:none;
}
thead {
    margin:auto;
    overflow:hidden;
    border:1px solid;
    font-weight:bold;
    font-size:16px;
    color:white;
}
tbody {
    margin:auto;
    overflow:hidden;
    border:1px solid;
}
input[type="text"], input[type="password"]{
    margin-left:10px;
    margin-right:10px;
    border-radius: 5px;
}

.dummy{
    display:none;
}

.view-overlay {
    position:absolute;
    background-color: rgba(0,0,0, 1);
    top:0;
    width:100%; 
    height:100%;
    z-index: 30;
    word-wrap: break-word;
    text-align:center;
}

::-moz-selection{
    background-color:Transparent;
    color:#000;
}

::selection {
    background-color:rgba(0,0,0,0);
    color:#000;
}

.selected {
    border:3px solid #BBBB13;
}

.ul {
    position: absolute;
    top: 5px;
    left: 5px;
}

.ll {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.ur {
    position: absolute;
    top: 5px;
    right: 5px;
}

.lr {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.wide {
    width: 100%;
}
.centered {
    position:absolute;
    left: 50%;
    top: 50%;
}
.header {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#DEDEDE;
    font-size:16px;
}
.normal-button {
    padding: 3px;
    color:rgb(150,150,150);
    background-color:rgba(0,0,0,0);
    border:none;
}
.normal-button:hover{
    color:white;
}
.normal-button:click{
    color:yellow;
}


.toggle-button {
    padding: 3px;
    color:rgb(150,150,150);
    background-color:rgba(0,0,0,0);
    border:none;
}
.toggle-button.down {
    padding: 3px;
    color:rgb(150,150,255);
    background-color:rgba(0,0,0,0);
    border:none;
}
.toggle-button:hover{
    color:white;
}


.icon-sm {
    width:15px; 
    display: inline-block;
    height:15px;
}

.icon-med {
    width:32px; 
    display: inline-block;
    height:32px;
}

.text-overlay{
    background-color: rgba(10,10,10, 0.9);
    border-radius: 5px;
    padding: 2px;
}

.layout-outer {
    height: 100%;
}


.center, .east, .west, .north, .south {
    background-color: rgb(0,0,0);
    text-align: center;
    display: inline-block;
}

.center{
   background-color: #181818;
   padding: 15px;
}
.west {
    width: 10%;
    z-index: 20;
}
.east {
    width: 35%;
    z-index: 20;
}
.south, .north{
    height: 5%;
}
.black {
    color:#222222;
}
.faint {
    opacity:0.8;
}
.white{
    color:#DEDEDE;
}
.urgent {
    background-color:#418041;
}

.huge {
    font-size: 24px;
}
.large {
    font-size:16px;
}
.medium {
    font-size:14px;
}
.small {
    font-size:12px;
}
.text {
    margin: auto; 
    font-family:"Lucida Grande";
    font-variant:small-caps;
}
.scrollable {
    overflow: scroll;
    height: 50%;

}
.result {
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    z-index: 0;
    border-radius: 15px;
}
.hide {
    display: none;
}

.result-img-overlay {
    position:relative;
    color:#000;
    top:-200%;
    width:100%; 
    height:100%;
    z-index: 5;
    word-wrap: break-word;
    border-radius: 15px;
}
.result-img {
    width: 200px;
    height: 200px;
    border-radius: 15px;

}
.result-text {
	position:relative;
    color:white;
    background-color:rgba(0,0,0,0.8);
    top:-100%;
    width:100%; 
    height:100%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    word-wrap: break-word;
    border-radius: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.faded {
    opacity: 0.5;
    font-size:0.8em;
}
.result-text:hover {
    opacity:1;
}
#export-status {
    position:absolute;
    width:100%;
    height:28%;
    top:37%;
    padding-top:1%;
    text-align:center;
    font-size:3em;
    font-style:normal;
    z-index:100;
}