html, body {	
	width: 100%;
	height: 100%;
	min-width: 400px;
	min-height: 400px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
img {
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
    border:0px solid;
}

.icon-sm {
    width:15px; 
    display: inline-block;
	height:15px;
}

.icon-med {
    width:25px; 
    display: inline-block;
	height:25px;
}
.icon-lg {
    width:40px; 
    display: inline-block;
	height:40px;
}

.img-cover {
    background-color: #000000;
    width:100%; 
    height:100%;
    margin:auto;
    display:block;
    border:0px solid;
    border-radius: 15px;
}

.img-cover-text {
	position:relative;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    top:-100%;
    left:0;
    width:100%; 
    height:100%;
    border-radius: 15px;
    margin:auto;
    text-align: center;
    z-index: 10;
    opacity: 0;
    word-wrap: break-word;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-cover-text:hover {
	background-color:rgba(255,255,255,0.6);
    opacity:1;
}

.layout-outer {
	height: 100%;
}

.center, .east, .west, .north, .south {
	background-color: rgb(220,220,220);
	border: 1px solid rgb(200,200,200);
	text-align: center;
    display: inline-block;
}

.west, .east {
	width: 15%;
}

.south {
	height: 15%;
}
.north {
	height: 25%;
}
.text-lg {
	font-family:"Lucida Grande";
	font-variant:small-caps;
	color:#414141;
	font-size:30px;
}
.text-med {
	font-family:"Lucida Grande";
	font-variant:small-caps;
	color:#414141;
	font-size:18px;
}
.text-sm {
	margin: auto; 
	font-family:"Lucida Grande";
	color:#414141;
	font-variant:small-caps;
	font-size:12px;
}

.text-sm-faint {
	margin: auto; 
	font-family:"Lucida Grande";
	color:#4D4D4D;
	font-variant:small-caps;
	font-size:12px;
}




