
div::-webkit-scrollbar {
    border-radius: 10px;
    width: 0.5em;
    height: 0.5em;
    background: rgba(20,20,20,0.1); 
    opacity: 0.0;
}
div::-webkit-scrollbar:hover {
    opacity: 0.3;
}
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(50,50,50); 
    border-radius: 10px;
    
}
div::-webkit-scrollbar-corner {
    opacity: 0;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(100,100,100, 0.3); 
    background: rgba(250,250,250,0.5); 
    
}


html, body {	
	width: 100%;
	height: 100%;
	min-width: 400px;
	min-height: 450px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
img {
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
    border:0px solid;
}

button{
    margin-left:10px;
    margin-right:10px;
    border-radius: 10px;
    font-size:12px;
}
input[type="text"], input[type="password"]{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:3px;
    border-radius: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #DEDEDE;
    height: 3px;
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
    width: 11px;
    height: 11px;
 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #FEFEFE;
}

.icon-tiny {
    width:5px; 
    display: inline-block;
    height:5px;
}
.icon-sm {
    width:15px; 
    display: inline-block;
	height:15px;
}

.icon-med {
    width:20px; 
    display: inline-block;
	height:20px;
}
.icon-lg {
    width:40px; 
    display: inline-block;
	height:40px;
}

.img-cover {
    background-color: #000000;
    width:auto; 
    height:100%;
    margin:auto;
    display:block;
    border:0px solid;
    border-radius: 15px;
}

.img-cover-text {
	position:relative;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    top:-100%;
    left:0;
    width:100%; 
    height:100%;
    border-radius: 15px;
    margin:auto;
    text-align: center;
    z-index: 10;
    opacity: 0;
    word-wrap: break-word;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-cover-text:hover {
	background-color:rgba(255,255,255,0.8);
    opacity:1;
}


.player-page {
    height: 100%;
}


.search-overlay, .login-overlay {
	height: 95%;
    width: 95%;
	background-color:rgba(0,0,0,1.0);
	color:#fff;
    opacity:0.85;
	top:0;
    left:0;
    text-align: center;
    position: absolute;
    padding: 10px;
    z-index: 1000;
}


.center, .east, .west, .north, .south {
	/*background-color: rgb(220,220,220);
	border: 1px solid rgb(200,200,200);
    */
	text-align: center;
    display: inline-block;
}
.search-overlay .north, .login-overlay .south {
    height: 20%;
}
.search-overlay .center {

}

.search-overlay .east, .search-overlay .west {
    
}

.login-overlay .north, .login-overlay .south {
    height: 10%;
}

.player-page .west, .east {
	width: 15%;
}
.player-page .south {
	height: 9%;
    background-color:#434343;
    border-radius: 15px;
}

.player-page .north {
	height: 40%;
}

.huge {
    font-size:36px;
}
.large {
	font-size:16px;
}
.medium {
	font-size:14px;
}
.text {
    margin: auto; 
    font-family:"Lucida Grande";
    font-variant:small-caps;
}
.tiny {
    font-size:10px;
}
.small {
	font-size:12px;
}
.black {
    color:#414141;
}
.faint {
	color:#4D4D4D;
}
.white{
    color:#DEDEDE;
}
.red-button {
    color:#110000;
    background-color:#814141;
    border-color:#814141;
}
.green-button {
    color:#001100;
    background-color:#418141;
    border-color:#418141;
}
.search-result {
    text-align: center;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;

}
.search-result-text {
	position:relative;
    color:#000;
    background-color:rgba(255,255,255,0.8);
    top:-100px;
    left:0px;
    width:100px; 
    height:100px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    word-wrap: break-word;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search-result-text:hover {
	background-color:rgba(255,255,255,0.8);
    opacity:1;
}


.sound-controls {
    position:absolute;
    height:125px;
    width: 25px;
    font-style: normal;
    font-size:6pt;
    /*display:none;*/
    z-index: 20;
    background-color:#313131;
    border-radius: 5px;
    border: solid 2px #777;
}


.ui-autocomplete { 
    font-style: normal;
    font-size:8pt;
    position: absolute; 
    cursor: default;
    z-index:1000 !important;
}


