.ui-widget{font-size:12px;}
.image-cover {
    background-color: #000000;
    width:100%; 
    height:100%;
    margin:auto;
    display:block;
    border:0px solid;
    border-radius: 15px;
}
.image-icon {
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
    border:0px solid;
}

.cell-text {
	text-align:center; 
	vertical-align:center;
}
.cell-rounded {
	text-align:center; 
	vertical-align:center;
	border-radius: 10px; 
	padding:20px;
}
.header-huge-text {
	margin: auto; 
	font-family:"Lucida Grande";
	font-variant:small-caps;
	color:#414141;
	font-size:48px;
}
.header-lg-text {
	margin: auto; 
	font-family:"Lucida Grande";
	font-variant:small-caps;
	color:#414141;
	font-size:30px;
}
.header-med-text {
	margin: auto; 
	font-family:"Lucida Grande";
	font-variant:small-caps;
	color:black;
	font-size:18px;
}
.header-sm-text {
	margin: auto; 
	font-family:"Lucida Grande";
	color:#8D8D8D;
	font-variant:small-caps;
	font-size:12px;
}

.body-sm-text {
	margin: auto; 
	font-family:"Lucida Grande";
	color:#000000;
	font-variant:small-caps;
	font-size:12px;
}
.body-sm-text-faint {
	margin: auto; 
	font-family:"Lucida Grande";
	color:#4D4D4D;
	font-variant:small-caps;
	font-size:12px;
}
.div-icon-inline {
    width:10px; 
    display: inline-block;
	height:10px;
}
.div-icon-med-inline {
    width:25px; 
    display: inline-block;
	height:25px;
}

.div-icon {
    width:25px; 
	height:25px;
}

.div-icon-med {
    width:50px; 
	height:50px;

}

.div-player{
	border-radius: 10px; 
	background-color: #D8D8D8;
}

.div-cover {
    width:250px; 
	height:250px;
	border-radius: 10px; 
	background-color: #111111;
	padding:5px;
}

.fadey-text {
	position:relative;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    top:-100%;
    left:0;
    width:100%; 
    height:100%;
    border-radius: 15px;
    margin:auto;
    text-align: center;
    z-index: 10;
    opacity: 0;
    word-wrap: break-word;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fadey-text:hover {
	background-color:rgba(255,255,255,0.6);
    opacity:1;
}
tr.vert-space > td
{
  padding-bottom: 1em;
}

.sound-controls {
	position:absolute;
    height:125px;
    font-style: normal;
    font-size:8pt;
    display:none;

}